.parent {
    position: relative;
    top: 0px;
    left: 0;
}

.image1 {
    position: relative;
    top: 0px;
    left: 70px;
    border: none;
}

.image2 {
    position: absolute;
    top: 10px;
    left: 0px;
    border: none;
}

#h1{
    color: red;
}
#mycourses{
    width:80%;
    margin:auto;
}